<script setup>
import { ref } from 'vue'

defineProps({
  msg: String
})

const count = ref(0)
</script>

<template>
<carousel :items-to-show="1">
    <slide v-for="(banner, slide) in allGames" :key="slide" class="slide">
      <img :src="banner.link">
    </slide>

    <template #addons>
      <navigation />
      <pagination />
    </template>
  </carousel>
</template>


<script>
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';

export default {
   components: {
    Carousel,
    Slide,
    Pagination,
    Navigation,
  },
  data() {
    return {
  allGames: [{
               link: '/img/slider/banner0.jpg'
            },
            {
               link: '/img/slider/banner2.jpg'
            },
         ],
  }
  }
}
</script>
<style scoped>
.read-the-docs {
  color: #888;
}
</style>
