<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
  <HelloWorld />
  <div id="app-lobby">
    <div class="container-fluid provider-container p-0">

      <div class="provider-title p-0" @click="menuActive = 'home'">
        <a class="p-0">
          <div>INICIO</div>
        </a>
      </div>

      <div class="provider-title p-0">
        <a class="p-0" @click="menuActive = 'allgames'">
          <div>TODOS LOS JUEGOS</div>
        </a>
      </div>

      <div class="provider-title p-0" @click="menuActive = 'categories'">
        <a class="p-0">
          <div>CATEGORIAS</div>
        </a>
      </div>

      <div class="provider-title p-0" @click="menuActive = 'providers'">
        <a class="p-0">
          <div>PROVEEDORES</div>
        </a>
      </div>

      <div class="provider-title p-0" @click="menuActive = 'promoted'">
        <a class="p-0">
          <div>PROMOCIONADOS</div>
        </a>
      </div>

      <div class="provider-title p-0" @click="menuActive = 'new'">
        <a class="p-0">
          <div>NUEVOS</div>
        </a>
      </div>

    </div>

    <div>
      <div class="carousel-categories  mt-2 show" style="padding-right: 0px;display: flex;">
        <div class="provider-title-sub">Todas</div>
        <div v-for="(category, index) in categoriesList" class="provider-title-sub" v-bind:key="index">
        {{ category.name }}</div>
      </div>
    </div>

    <div class="container-provider">
      <div class="botton-header-slots" style="display: flex;">
      <strong>EVOPLAY</strong> 
      <div style="flex: 1 1 0%;"></div> 
      <div class="el-input" style="width: 200px;">
        <input type="text" autocomplete="off" placeholder="Buscar..." class="el-input__inner"></div>
      </div>
      <div class="container-games">
        <div v-for="(game, index) in allGames" :class="{'primero': game.promoted, 'otros': !game.promoted}"  class="image-box slots-grid-item" v-bind:key="index">
          <img :src="game.link" alt="Slots" class="imgslot">

          <div class="slots-grid-item-hover">
            <img src="/img/okay.png" class="img-okay slideInDown animated">

            <div class="middle-slots">
              <img src="/img/playBtn-en.webp" alt="play" class="v-play wow slideInUp animated" />
            </div>
          </div>

          <div class="game-title">
            <img src="/img/providers/evoplay.png" alt="slots" class="v-play" />
          </div>
        </div>
      </div>

      <div class="reset">
        <button v-if="games" class="btn btn-more-lobby">VER MÁS
          <img src="/img/showMore_arrows.webp">
        </button>
        <div v-else>
          <p>{{ _i('SIN RESULTADOS') }}</p>
        </div>

      </div>
    </div>
    <div class="container-provider">
      <div class="botton-header-slots" style="display: flex;">
      <strong>NETENT</strong> 
      <div style="flex: 1 1 0%;"></div> 
      <div class="el-input" style="width: 200px;">
        <input type="text" autocomplete="off" placeholder="Buscar..." class="el-input__inner"></div>
      </div>
      <div class="container-games">
        <div v-for="(game, index) in allGames" :class="{'primero': game.promoted, 'otros': !game.promoted}"  class="image-box slots-grid-item" v-bind:key="index">
          <img :src="game.link" alt="Slots" class="imgslot">

          <div class="slots-grid-item-hover">
            <img src="/img/okay.png" class="img-okay slideInDown animated">

            <div class="middle-slots">
              <img src="/img/playBtn-en.webp" alt="play" class="v-play wow slideInUp animated" />
            </div>
          </div>

          <div class="game-title">
            <img src="/img/providers/netent.png" alt="slots" class="v-play" />
          </div>
        </div>
      </div>
      <div class="reset">
        <button v-if="games" class="btn btn-more-lobby">VER MÁS
          <img src="/img/showMore_arrows.webp">
        </button>
        <div v-else>
          <p>{{ _i('SIN RESULTADOS') }}</p>
        </div>

      </div>
    </div>  
  </div>
</template>

<script>
export default {
  data() {
    return {
      games: true,
      categoriesList: [{
                  name: 'Destacados',
                },
                {
                  name: 'Top'
                },
                {
                  name: 'Jackpot'
                },
                {
                  name: 'Ruletas'
                },
                {
                  name: 'Terror'
                },
                {
                  name: 'Galaxia'
                },
                {
                  name: 'Egipcio'
                },
                {
                  name: 'Pachinko'
                }
            ],
      allGames: [{
                  link: '/img/01.jpg',
                  name: 'Ace Round',
                  promoted: true
                },
                {
                  link: '/img/02.jpg',
                  name: 'Aeronauts'
                },
                {
                  link: '/img/03.jpg',
                  name: 'AmericanRoulette3D'
                },
                {
                  link: '/img/04.jpg',
                  name: 'Andar Nights'
                },
                {
                  link: '/img/05.jpg',
                  name: 'Animal Guest'
                },
                {
                  link: '/img/06.jpg',
                  name: 'Anubis Moon'
                },
                {
                  link: '/img/07.jpg',
                  name: 'Atlantis'
                },
                {
                  link: '/img/08.jpg',
                  name: 'Baccarat'
                },
                {
                  link: '/img/09.jpg',
                  name: 'Basketball'
                }
            ],
  }
  }

}
</script>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
