
  <div id="app-lobby">
    <div>
      @include('WhiteLabel::products.slots.lobbys.netent.carousel')

      <div class="container-fluid provider-container p-0">
        {{-- <button class="provider-play p-0"><i aria-hidden="true" class="fa fa-search"></i></button>  --}}

        <div class="provider-title p-0" @click="menuActive = 'home'">
          <a class="p-0">
            <div>{{ _i('INICIO') }}</div>
          </a>
        </div>

        <div class="provider-title p-0">
          <a class="p-0" @click="menuActive = 'allgames'">
            <div>{{ _i('TODOS LOS JUEGOS') }}</div>
          </a>
        </div>

        <div class="provider-title p-0" @click="menuActive = 'categories'">
          <a class="p-0">
            <div>{{ _i('CATEGORIAS') }}</div>
          </a>
        </div>

        <div class="provider-title p-0" @click="menuActive = 'providers'">
          <a class="p-0">
            <div>{{ _i('PROVEEDORES') }}</div>
          </a>
        </div>

        <div class="provider-title p-0" @click="menuActive = 'promoted'">
          <a class="p-0">
            <div>{{ _i('PROMOCIONADOS') }}</div>
          </a>
        </div>

        <div class="provider-title p-0" @click="menuActive = 'new'">
          <a class="p-0">
            <div>{{ _i('NUEVOS') }}</div>
          </a>
        </div>
      </div>

      <template v-if="menuActive === 'home'">
        <games key="menu-home" :category="dataBy.allHome"></games>
      </template>

      <template v-if="menuActive === 'allgames'">
        <games key="menu-allgames" :category="dataBy.allGames"></games>
      </template>

      <template v-if="menuActive === 'promoted'">
        <games key="menu-allPromoted" :category="dataBy.allPromoted"></games>
      </template>

      <template v-if="menuActive === 'new'">
        <games key="menu-allNew" :category="dataBy.allNew"></games>
      </template>

      <template v-if="menuActive === 'categories'">
        <div>
          <div class="owl-carousel mt-2 show" style="padding-right: 0px;display: flex;">
            <div class="provider-title-sub" @click="filter.categories.query = null, buildMenuCategories()">{{ _i('Todas') }}</div>
            <div v-for="categoryItem in categoriesList" class="provider-title-sub" @click="filter.categories.query = categoryItem, buildMenuCategories()">@{{ categoryItem }}</div>
          </div>

          <categories key="menu-categories" :categories="dataBy.categories"></categories>
        </div>
      </template>

      <template v-if="menuActive === 'providers'">
        <div>
          <div class="owl-carousel mt-2 show" style="padding-right: 0px;display: flex;">
            <div class="provider-title-sub" @click="filter.providers.query = null, buildMenuProviders()">{{ _i('Todas') }}</div>
            <div v-for="providerItem in providersList" class="provider-title-sub" @click="filter.providers.query = providerItem, buildMenuProviders()">@{{ providerItem }}</div>
          </div>

          <categories key="menu-providers" :categories="dataBy.providers"></categories>
        </div>
      </template>
    </div>
  </div>

  <template id="tplGames">
    <div class="container-provider">
      <div class="botton-header-slots" style="display: flex;">
        <strong>@{{ category.name }}</strong>

        <div style="flex: 1 1 0%;"></div>

        <el-input placeholder="{{ _i('Buscar...') }}" v-model="filter" style="width: 200px"></el-input>
      </div>

      <div v-if="games.length > 0" class="container-games">
        <game-item v-for="(game, gameIndex) in gamesSlice" :key="'game_' + gameIndex + game.name" :game="game" :tab-index="gameIndex"></game-item>
      </div>
      <div v-else>
        <p>{{ _i('SIN RESULTADOS') }}</p>
      </div>

      <div class="reset">
        <button v-if="hasMoreGames" class="btn btn-more-lobby" @click="loadMore">
          {{_i('VER MÁS')}} @{{ textMoreGames }}
          <img src="{{ asset('assets/template/slots/lobbys/netent/img/showMore_arrows.webp') }}">
        </button>
      </div>
    </div>
  </template>

  <template id="tplGameItem">
    <div :title="game.name" class="image-box slots-grid-item" :class="{'primero': game.promoted, 'otros': !game.promoted}" :tabindex="tabIndex" role="button">
      <img :src="game.url_thumb || '{{ asset('assets/template/slots/lobbys/v1/img/default.jpg') }}'" :alt="game.name" class="imgslot">

      <div class="slots-grid-item-hover">
        <img src="{{ asset('assets/template/slots/lobbys/netent/img/okay.png') }}" class="img-okay slideInDown animated">

        <div class="middle-slots" @click="showGame(game)" @keydown.enter="showGame(game)">
          <img src="{{ asset('assets/template/slots/lobbys/netent/img/playBtn-en.webp') }}" alt="play" class="v-play wow slideInUp animated" style="visibility: visible; animation-name: slideInUp;" />
        </div>
      </div>

      <div class="game-title">
        <img :src="'{{ asset('assets/template/slots/lobbys/netent/img/providers') }}/' + game.product + '.png'" :alt="game.product" class="v-play" />
      </div>
    </div>
  </template>

  <template id="tplCategoriesList">
    <div>
      <games v-for="(category, categoryIndex) in categoriesStep" :key="'category_' + categoryIndex + category.name" :category="category"></games>
    
      <div v-if="hasMoreCategories" class="btn btn-block btn-md btn-more-results" @click="loadMore">
        {{_i('Cargar más Resultados')}} @{{ textMoreCategories }}
      </div>
    </div>
  </template>

  <div id="tplShowGame">
    <div class="modal fade" id="showGame" tabindex="-1" role="dialog" aria-labelledby="showGame" aria-hidden="true">
      <div class="modal-dialog" role="document" id="enterGameFull">
        <div class="modal-content">
          <div class="row container-fluid" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="box-content" style="padding:0 !important;">
              <iframe v-if="slot.url" id="playSlot" :src="slot.url" frameborder="0" scrolling="no" style="height: 100vh;"></iframe>

              <div class="" style="text-align: center;position: absolute;right: 10px;z-index: 5000;height: auto;width: 50px; top: 0;">
                <button @click="slot.url = null, closeGame()" type="button" class="btn-dark btn-box-option btn-sm text-white" data-dismiss="modal">
                  <i class="far fa-times-circle"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    const $app = new Vue({
      data: function () {
        return {
          games: {!! helper()->objectJson($games) !!},
          menuActive: 'home',
          dataBy: {
            categories: [],
            providers: [],
            allGames: {},
            allHome: {},
            allPromoted: {},
            allNew: {},
          },
          categoriesList: [],
          providersList: [],
          filter: {
            categories: {
              query: null
            },
            providers: {
              query: null
            }
          }
        }
      },
      created: async function () {
        this.buildMenuAllHome()

        await this.buildAll()

        this.buildMenuAllGames()
        this.buildMenuCategories()
        this.buildMenuProviders()
        this.buildMenuAllPromoted()
        this.buildMenuAllNew()
      },
      methods: {
        buildAll: function () {
          this.categoriesList = _.uniq(_.flattenDeep(_.map(this.games.all, function (item) { return item.categories })))

          this.providersList = _.uniq(_.flattenDeep(_.map(this.games.all, function (item) { return item.product })))
        },
        buildMenuAllHome: function () {
          this.dataBy.allHome = {
            name: 'Inicio',
            visibles: 20,
            games: _.orderBy(this.games.home, ['order'], ['asc'])
          }
        },
        buildMenuAllGames: function () {
          this.dataBy.allGames = {
            name: 'TODOS LOS JUEGOS',
            visibles: 20,
            games: _.orderBy(this.games.all, ['order'], ['asc'])
          }
        },
        buildMenuAllPromoted: function () {
          this.dataBy.allPromoted = {
            name: 'Promocionados',
            visibles: 20,
            games: _.orderBy(_.filter(this.games.promoted, function (item) { return item.promote }), ['order'], ['asc'])
          }
        },
        buildMenuAllNew: function () {
          this.dataBy.allNew = {
            name: 'Nuevos',
            visibles: 20,
            games: _.orderBy(_.filter(this.games.new, function (item) { return item.new }), ['order'], ['asc'])
          }
        },
        buildMenuCategories: function () {
          const $this = this

          this.dataBy.categories = _.map(_.filter(this.categoriesList, function (item) {
            return !$this.filter.categories.query || $this.filter.categories.query === item
          }),
          function (categoryName) {
            return {
              name: categoryName,
              games: _.orderBy(_.filter($this.games.all, function (item) {
                return item.categories.includes(categoryName)
              }), ['order'], ['asc'])
            }
          })
        },
        buildMenuProviders: function () {
          const $this = this

          this.dataBy.providers = _.map(_.filter(this.providersList, function (item) {
            return !$this.filter.providers.query || $this.filter.providers.query === item
          }),
          function (providerName) {
            return {
              name: providerName,
              games: _.orderBy(_.filter($this.games.all, function (item) {
                return item.product.includes(providerName)
              }), ['order'], ['asc'])
            }
          })
        }
      }
    })

    const $showGame = new Vue({
      el: '#tplShowGame',
      data: function () {
        return {
          showSlot: false,
          loading: false,
          collapse: false,
          title: 'Azul',
          slot:     {
            url:  null,
            name: null,
          }
        }
      },
      methods: {
        showGame: function (id, code, slug, provider) {
          const $this = this

          if (!$showGame.showSlot && provider == 'pragmaticplay') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.pragmaticplay.launchone', [''])}}/" + code
            $this.toggleSlot()
          }

          if (!$showGame.showSlot && provider == 'vibragaming') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.vibra.launch', [''])}}/" + id
            $this.toggleSlot()
          }

          if (!$showGame.showSlot && provider == 'jpslega') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.jpslega.launch', [''])}}/" + id
            $this.toggleSlot()
          }

          if (!$showGame.showSlot && provider == 'evoplay') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.evoplay.launch', [''])}}/" + id
            $this.toggleSlot()
          }

          if (!$showGame.showSlot && provider == 'ortiz') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.ortiz-gaming.launch', [''])}}/" + id
            $this.toggleSlot()
          }

          if (!$showGame.showSlot && provider == 'caleta') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.caleta.gaming.launch', [''])}}/" + id
            $this.toggleSlot()
          }

          if (!$showGame.showSlot && provider == 'mga') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.mga.gaming.launch', [''])}}/" + id
            $this.toggleSlot()
          }

          if (!$showGame.showSlot && provider == 'endorphina') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.endorphina.launch', [''])}}/" + id
            $this.toggleSlot()
          }

          if (!$showGame.showSlot && provider == 'fbm') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.fbm.gaming.launch', [''])}}/" + id
            $this.toggleSlot()
          }

          if (!$showGame.showSlot && provider == 'gbs-games') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.gbs-games.launch', [''])}}/" + id
            $this.toggleSlot()
          }

          if (!$showGame.showSlot && provider == 'algnet') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.algnet.games.launch', [''])}}/" + id
            $this.toggleSlot()
          }

          if (!$showGame.showSlot && provider == 'booongo') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.booongo.launch', [''])}}/" + id
            $this.toggleSlot()
          }

          if (!$showGame.showSlot && provider == 'playson') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.playson.launch', [''])}}/" + id
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'ctgaming') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.ct.gaming.launch', [''])}}/" + id
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'tomhorn') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.tom.horn.gaming.launch', [''])}}/" + id
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'fortunecrowns') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.fortune.crowns.launch', [''])}}/" + id
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'swintt-select') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.swintt.launch', [''])}}/" + id
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'swintt-premium') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.swintt.launch', [''])}}/" + id
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'swintt-live') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.swintt.launch', [''])}}/" + id
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'lucky spins') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.luckyspin.launch', [''])}}/" + id
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'playngo') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.luckyspin.launch', [''])}}/" + id
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'mascot') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.mascot.launch', [''])}}/" + id
            $this.toggleSlot()
         }
          if (!$showGame.showSlot && provider == 'netent'
            || provider == 'greentube'
            || provider == 'quickspin'
            || provider == 'gaminator'
            || provider == 'igrosoft'
            || provider == 'apollo'
            || provider == 'microgaming'
            || provider == 'wazdan'
            || provider == 'merkur'
            || provider == 'amatic'
            || provider == 'aristocrat'
            || provider == 'kajot'
            || provider == 'playtech'
          ) {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.slot.launch.v2', [''])}}/" + slug
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == '1x2-pro'
            || provider == 'gameart-pro'
            || provider == 'bomba-pro'
            || provider == 'playson-pro'
            || provider == 'platipus-pro'
            || provider == 'spinomenal-pro'
            || provider == 'netentextreme-pro'
            || provider == 'gaminator-pro'
            || provider == 'skywind-pro'
            || provider == 'pragmatic-pro'
            || provider == 'novomatic-pro'
            || provider == 'yggdrasil-pro'
            || provider == 'habanero-pro'
            || provider == 'igrosoft-pro'
            || provider == 'netent_3-pro'
            || provider == 'egt-pro'
            || provider == 'amatic-pro'
            || provider == 'xplosive-pro'
            || provider == 'phb-pro'
            || provider == 'evoplay-pro'
            || provider == 'irondog-pro'
            || provider == 'isoftbet-pro'
            || provider == 'leap-pro'
            || provider == 'redrake-pro'
          ) {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.gbs-games.launch', [''])}}/" + id
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'Platipus'
          ) {
            $showGame.slot.url = null
            $showGame.slot.url = "{{ route('kb.wl.i.p.platipus.launch', ['']) }}/" + id
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'Nucleus'
            || provider == 'Redrake'
            || provider == 'Betsoft'
            || provider == 'Spinomenal'
            || provider == 'ArrowsEdge'
            || provider == 'Mojos'
            || provider == 'LeapSlots'
            || provider == 'LeapVirtuales'
            || provider == 'PlatipusVivo'
          ) {
            $showGame.slot.url = null
            $showGame.slot.url = "{{ route('kb.wl.i.p.vivogaming.launch', ['']) }}/" + code
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'seven-mojos') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.algnet.games.launch', [''])}}/" + id
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'mascot') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.mascot.launch', [''])}}/" + id
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'rubyplay') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.rubyPlay.launch', [''])}}/" + id
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'kagaming') {
            $showGame.slot.url = null
            let ip = axios.get('https://ipecho.net/plain')
            $showGame.slot.url = "{{url('/product/kagaming/launch/')}}/" + id + '/' + ip.data
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'booming') {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.booming.launch', [''])}}/" + id
            $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'aristocrat-casino25'
            || provider == 'netent-casino25'
            || provider == 'greentube-casino25'
            || provider == 'amatic-casino25'
            || provider == 'austria-casino25'
            || provider == 'booongo-casino25'
            || provider == 'egt-casino25'
            || provider == 'fishing-casino25'
            || provider == 'gaminator-casino25'
            || provider == 'igrosoft-casino2'
            || provider == 'igt-casino25'
            || provider == 'kajot-casino25'
            || provider == 'konami-casino25'
            || provider == 'merkur-casino25'
            || provider == 'microgaming-casino25'
            || provider == 'playson-casino25'
            || provider == 'playtech-casino25'
            || provider == 'pragmatic-casino25'
            || provider == 'quickspin-casino25'
            || provider == 'spadegaming-casino25'
            || provider == 'wazdan-casino25'
            || provider == 'apollo-casino25'
            || provider == 'cqgaming-casino25'
          ) {
            $showGame.slot.url = null
            $showGame.slot.url = "{{route('kb.wl.i.p.casino25.launch', [''])}}/" + id
            $this.toggleSlot()
          }
          
          if (!$showGame.showSlot && provider == 'booming') {
              $showGame.slot.url = null
              $showGame.slot.url = "{{route('kb.wl.i.p.booming.launch', [''])}}/" + id
              $this.toggleSlot()
          }
          if (!$showGame.showSlot && provider == 'tangente' || provider == 'tangente-jpsg') {
              $showGame.slot.url = null
              let ip = axios.get('https://ipecho.net/plain')
              $showGame.slot.url = "{{url('/product/tangente/launch/')}}/" + id + '/' + ip.data
              $this.toggleSlot()
          }
        },
        toggleSlot: function () {
          const $this = this

          $('#showGame').modal({backdrop: 'static'}) 
     
          setTimeout(function () {
            $this.openFullscreen()
          }, 500);
        },
        closeGame: function () {
          this.slot.url = null

          if (document.fullscreenElement) { 
            document.exitFullscreen() 
          } 
        },
        resizeIframe: function (obj) {
          if (obj && obj.target && obj.target.contentWindow) {
            obj.target.style.height = obj.target.contentWindow.document.documentElement.scrollHeight + 'px';
          }
        },
        openFullscreen: function () {
          const elemFullGame = document.getElementById("enterGameFull");
          
          if (elemFullGame.requestFullscreen) {
            elemFullGame.requestFullscreen();
          } else if (elemFullGame.mozRequestFullScreen) { /* Firefox */
            elemFullGame.mozRequestFullScreen();
          } else if (elemFullGame.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
            elemFullGame.webkitRequestFullscreen();
          } else if (elemFullGame.msRequestFullscreen) { /* IE/Edge */
            elemFullGame.msRequestFullscreen();
          }
        }
      },
      watch:   {
        showSlot: function () {
          if (this.showSlot) {
            this.$refs.playSlot.focus()
          }
        }
      }
    })

    Vue.component('categories', {
      template: '#tplCategoriesList',
      props: { 
        categories: {
          type: Array,
          required: true
        }
      },
      data: function () {
        return {
          step: 1,
          visibles: 5
        }
      },
      computed: {
        categoriesStep: function () {
          return this.categories.slice(0, this.visibles)
        },
        hasMoreCategories: function () {
          return this.visibles < this.categories.length
        },
        textMoreCategories: function () {
          return " (" + this.visibles + " {{_i('de')}} " + this.categories.length + ")"
        }
      },
      methods: {
        loadMore: function () {
          this.visibles += this.step
        }
      }
    })

    Vue.component('games', {
      template: '#tplGames',
      props: { 
        category: {
          type: Object,
          required: true
        }
      },
      data: function () {
        return {
          step: this.category.step || 10,
          visibles: this.category.visibles || 10,
          filter: null
        }
      },
      computed: {
        games: function () {
          const $this = this

          if (this.category && this.category.games) {
            return _.filter(this.category.games, function (item) {
              return !$this.filter || item.name.toLowerCase().includes($this.filter.toLowerCase())
            })
          } else {
            return []
          }
        },
        gamesSlice: function () {
          return this.games.slice(0, this.visibles)
        },
        hasMoreGames: function () {
          return this.visibles < this.games.length
        },
        textMoreGames: function () {
          return " (" + this.visibles + " {{_i('de')}} " + this.games.length + ")"
        }
      },
      methods: {
        loadMore: function () {
          this.visibles += this.step
        }
      }
    })

    Vue.component('game-item', {
      template: '#tplGameItem',
      props: {
        game: {
          type: Object,
          required: true
        },
        tabIndex: {
          type: Number,
          required: true
        }
      },
      data: function () {
        return {}
      },
      methods: {
        showGame: function (game) {
          $showGame.showGame(game.game_id, game.code, game.slug, game.product)
        }
      }
    })

    $app.$mount('#app-lobby')
  </script>
@endsection 

@section('head')
  <style type="text/css">
    @media screen and (min-width: 200px) and (max-width: 480px) and (orientation: portrait) {
      #playSlot {
        width: 100vh;
        height: 100vh;
        background: #090909 !important;
      }

      #loadinglaunch {
        display: block !important;
        color: white !important;
        margin-top: 25%;
        text-align: center;
      }

      #box-wallet {
        bottom: -255px;
        width: 50px !important;
        height: 494px !important;
        margin-left: 100px;
        position: absolute;
      }

      #wallet-box-total {
        display: none;
      }

      .logo-img {
        display: none !important;
      }
    }

    /* external css: flickity.css */
    body { font-family: sans-serif; }

    .gallery {
      background: #EEE;
      overflow: hidden;
    }

    .gallery-cell {
      width: 5%;
      height: 200px;
      margin-right: 10px;
      background: #8C8;
      counter-increment: gallery-cell;
    }

    /* cell number */
    .gallery-cell:before {
      display: block;
      text-align: center;
    }

    ol.flickity-page-dots {
      display: none !important;
    }
  </style>