@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background: #f9f9f9;
}

#app {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}

/**/

.slide img {
  width: 100%;
}
.el-input__inner {
  height: 30px;
  border-radius: 10px;
  border: none;
  padding-left: 5px;
  background-color: #ccc
}
.carousel-categories {
  margin-top: 10px;
  overflow: auto;
}
.container-provider {
  background-color:#ffffff;
  border-radius: 10px;
}

.btn-more-results {
  min-height: 55px;
  max-height: 55px;
  background: #ffffff;
  line-height: 45px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  margin-top: 10px;
  border-radius: 10px;
  font-size: x-large;
  z-index: 1000;
}
.btn-more-results:hover {
  background: #e9e9e9;
  color: #ff8929;
}
.provider-container {
  min-height: 48px;
  max-height: 48px;
  background: #e5e5e5;
  display: inline-flex;
  overflow: hidden;
  margin-bottom: -6px;
  width: 100%;
}
.provider-container-sub {
  min-height: 55px;
  max-height: 55px;
  background: #e9e9e9;
  display: inline-flex;
  overflow: scroll;
  margin-bottom: -6px;
}
  .provider-play {
    font-size: 16px;
    font-weight: 700;
    color: #464954;
    background: #ffffff;
    height: 38px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 5px 0px 5px !important;
    min-width: 40px;
    margin-left: 3px;
    margin-top: 5px;
    border-radius: 25px;
    float: left;
    width: auto;
    border: 2px solid #ff5d3c;
}

  .provider-title:nth-child(1) {
    border-left: none;
  }
  .provider-title {
    font-size: 14px;
    cursor: pointer;
    font-family: 'Play', sans-serif;
    font-weight: 600;
    color: #333743;
    background: #fff;
    height: 38px;
    line-height: 38px;
    text-align: center;
    padding: 0px 5px 0px 5px !important;
    width:auto;
    min-width: 81px;
    margin-left: 3px;
    margin-top: 5px;
    border-radius: 20px;
    float: left;
    text-transform: capitalize;
  }
  .provider-title a {
      color: #333743;
  }
  .provider-title a:active, .provider-title a:hover  {
    color: #ffffff;
    text-decoration: none;
  }
  .provider-title.active{
    background: linear-gradient(to bottom right,#ff5d3c 0,#ff8929);
    transition-delay: 0.1s;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
  }
  .provider-title:hover {
    background: linear-gradient(to bottom right,#ff5d3c 0,#ff8929);
    transition-delay: 0.1s;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
  }
  .provider-title:nth-child(1) {
    border-left: none;
  }
  .provider-title-sub {
    font-size: x-small;
    cursor: pointer;
    font-family: 'Play', sans-serif;
    color: #fff;
    background: #babbbf;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0px 5px 0px 5px !important;
    width:110px;
    min-width: 81px;
    margin-left: 3px;
    margin-top: 5px;
    border-radius: 20px;
    float: left;
    text-transform: capitalize;
    border: 1px solid #ff5e3d !important;
  }
  .provider-title-sub a {
      color: #fff;
  }
  .provider-title-sub a:active, .provider-title-sub a:hover  {
    color: #ffffff;
    background: #333743;
    text-decoration: none;
  }
  .grActive, .join_btn {
    background: -webkit-linear-gradient(top left,#ff5d3c 0,#ff8929);
    background: -o-linear-gradient(top left,#ff5d3c 0,#ff8929 100%);
    background: linear-gradient(to bottom right,#ff5d3c 0,#ff8929);
    color: #fff;
}
  .provider-title-sub.active{
    background: linear-gradient(to bottom right,#ff5d3c 0,#ff8929);
    transition-delay: 0.1s;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
  }
  .provider-title-sub:hover {
    background: linear-gradient(to bottom right,#ff5d3c 0,#ff8929);
    transition-delay: 0.1s;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
  }
  .product-item {
    width: 100%;
    border: 1px solid #37364f;
    transition-delay: 0.1s;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
  }
  .product-item:hover {
    opacity: 0.78;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
.container-provider .reset {
  clear: both;
  text-align: center;
}

.container-provider .reset .btn-more-lobby {
  color: #333743;
  font-weight: 700;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  font-size: 25px;
  background: #f9f9f9;
  border-radius: 0 0 10px 10px;
  height: 50px;
  border-top: none !important;
  border: 1px solid #ccc;
  cursor: pointer;
}
.container-provider .reset .btn-more-lobby:hover {
  color: #333743;
  background: #f3f3f3;
  cursor: pointer;
}
.container-provider .botton-header-slots {
  font-family: 'Play', sans-serif;
  height: 50px;
  line-height: 50px;
  text-align: left;
  padding-left: 10px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333743;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}
.botton-header-slots span {
  line-height: 50px;
  font-size: 20px;
  color: #ffffff;
}

.container-provider .container-games .slots-grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 0;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.container-provider .container-games .slots-grid-item img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 2px 2px 10px 0px #000000;
}

.container-provider .container-games .slots-grid-item .game-title {
  color: #ffffff;
  position: absolute;
  display: none;
  left: 0;
  bottom: 0;
  height: 36px;
  background: linear-gradient(rgba(0,0,0,.18),rgba(0,0,0,.72));
  width: 100%;
  text-align: center;
  line-height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 700;
  border-radius: 0 0 20px 15px;
}
.container-provider .container-games .slots-grid-item:hover img {
  border-radius: none;
  box-shadow: none;
}
.imgslot:hover {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background: rgba(39,42,49,.75);
  opacity: 0.2;
}
.slots-grid-item:hover .game-title {
  display: block !important;
}
.img-okay {
  display: none;
}
.slots-grid-item:hover .img-okay {
    display: block !important;
    top: 10px;
    transition: .5s ease;
    height: 30px !important;
    position: absolute;
    right: 10px;
    width: auto !important;
    background: transparent;
    border: 2px solid #aa4628;
    padding: 3px;
}
.game-title img {
  height: 25px !important;
  width: auto !important;
  margin: auto !important;
}
.v-play {
  -webkit-animation: fadeIn .33s;
  animation: fadeIn .33s;
}
.middle-slots {
	transition: 0.5s ease;
	opacity: 0;
	width: 30%;
	position: absolute;
	left: 50%;
  margin-top: 30%;
	z-index: 1000;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  height: 0;
  transition: .5s ease;
}
.slots-grid-item:hover .middle-slots,
.slots-bann-item:hover .middle-slots{
	opacity: 1;
  top: 50%;
	cursor: pointer;
  border:none;
  height: 100%;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@media (max-width: 1200px) {
  .main {
    padding: 5px !important;
  }
  .container-provider .container-games .primero {
    width: 16%;
    float: left;
    padding: 2px;
  }
  .container-provider .container-games .otros {
    width: 16%;
    float: left;
    padding: 2px;
  }
  .provider-container {
    min-height: 55px;
    max-height: 131px;
    display: flex;
    overflow: scroll;
    margin-bottom: 20px;
  }
  .provider-click {
    margin-top: -20px;
  }
  .container-provider .container-games .slots-grid-item img {
    box-shadow: none
  }
  .provider-title a:not([href]):not([tabindex]) {
    font-size: x-small;
}
}

@media (max-width: 480px) {
  .container-provider .container-games .primero {
    margin: 0px auto 0px auto;
    width: 100%;
    float: left;
  }
  .container-provider .container-games .otros {
    margin: 0px auto 0px auto;
    margin-bottom: 10px;
    width: 48%;
    float: left;
    padding: 2px;
    height: 190px;
  }
  .provider-title {
    text-overflow:none !important;
    overflow: none !important;
    white-space: none !important;
    width: calc((100vw - 25px) / 3) !important;
  }
  
}
/*# sourceMappingURL=live-dealer.css.map */
.logo-img {
	width: 100%;
}

.btn-box-option {
	background: rgb(26 26 26 / 42%);
	border: none;
	text-align: center;
	padding: 3px;
	margin-bottom: 10px;
	height: 50px;
	width: 100%;
	font-size: 20px;
	cursor: pointer;
	z-index: 2000;
  border-radius: 50px;
}
.btn-box-option:hover {
	background: rgba(203, 96, 179, 1);
	background: -moz-linear-gradient(
		top,
		rgba(203, 96, 179, 1) 0%,
		rgba(193, 70, 161, 1) 50%,
		rgba(168, 0, 119, 1) 51%,
		rgba(219, 54, 164, 1) 100%
	);
	background: -webkit-gradient(
		left top,
		left bottom,
		color-stop(0%, rgba(203, 96, 179, 1)),
		color-stop(50%, rgba(193, 70, 161, 1)),
		color-stop(51%, rgba(168, 0, 119, 1)),
		color-stop(100%, rgba(219, 54, 164, 1))
	);
	background: -webkit-linear-gradient(
		top,
		rgba(203, 96, 179, 1) 0%,
		rgba(193, 70, 161, 1) 50%,
		rgba(168, 0, 119, 1) 51%,
		rgba(219, 54, 164, 1) 100%
	);
	background: -o-linear-gradient(
		top,
		rgba(203, 96, 179, 1) 0%,
		rgba(193, 70, 161, 1) 50%,
		rgba(168, 0, 119, 1) 51%,
		rgba(219, 54, 164, 1) 100%
	);
	background: -ms-linear-gradient(
		top,
		rgba(203, 96, 179, 1) 0%,
		rgba(193, 70, 161, 1) 50%,
		rgba(168, 0, 119, 1) 51%,
		rgba(219, 54, 164, 1) 100%
	);
	background: linear-gradient(
		to bottom,
		rgba(203, 96, 179, 1) 0%,
		rgba(193, 70, 161, 1) 50%,
		rgba(168, 0, 119, 1) 51%,
		rgba(219, 54, 164, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=0 );
	-webkit-box-shadow: 0px 0px 29px 0px rgba(230, 0, 230, 1);
	-moz-box-shadow: 0px 0px 29px 0px rgba(230, 0, 230, 1);
	box-shadow: 0px 0px 29px 0px rgba(230, 0, 230, 1);
	color: #0f1119;
}
@media screen and (min-width: 1200px) {
	.container-provider .container-games .primero {
    width: 32.3% !important;
		height:348px !important;
    float: left !important;
    left: 0% !important;
    margin: 4px;
    border-radius: 15px;
    background: #272a31;
  }
  .container-provider .container-games .otros {
    width: 16%;
    margin: 4px;
    height: 170px;
    float: left;
    border-radius: 15px;
    background: #272a31;
  }
  .slots-grid-item:nth-child(14) {
		width: 32.3% !important;
    height:348px !important;
    float: right!important;
    right: 0.8% !important;
	}

  .slots-grid-item:nth-child(19) {
		width: 32.3% !important;
    height:348px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(32) {
		width: 32.3% !important;
    height:348px !important;
		float: right !important;
    right: 0.8% !important;
	}
  .slots-grid-item:nth-child(37) {
		width: 32.3% !important;
    height:348px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(50) {
		width: 32.3% !important;
    height:348px !important;
		float: right !important;
    right: 0.8% !important;
	}
  .slots-grid-item:nth-child(55) {
		width: 32.3% !important;
    height:348px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(68) {
		width: 32.3% !important;
    height:348px !important;
		float: right !important;
    right: 0.8% !important;
	}
  .slots-grid-item:nth-child(73) {
		width: 32.3% !important;
    height:348px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(86) {
		width: 32.3% !important;
    height:348px !important;
		float: right !important;
    right: 0.8% !important;
	}
  .slots-grid-item:nth-child(91) {
		width: 32.3% !important;
    height:348px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(104) {
		width: 32.3% !important;
    height:348px !important;
		float: right !important;
    right: 0.8% !important;
	}
  .slots-grid-item:nth-child(109) {
		width: 32.3% !important;
    height:348px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(122) {
		width: 32.3% !important;
    height:348px !important;
		float: right !important;
    right: 0.8% !important;
	}
  .provider-title-sub {
    font-size: small;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px)  {
	.container-provider .container-games .primero {
    width: 30.3% !important;
    height: 250px;
    float: left !important;
    left: 0 !important;
    margin: 4px;
    border-radius: 15px;
  }
  .container-provider .container-games .otros {
    width: 15%;
    height: 121px;
    margin: 4px;
    float: left;
    border-radius: 15px;
  }
  .slots-grid-item:nth-child(14) {
		width: 30.3% !important;
    height: 250px !important;
    float: right!important;
    right: 5% !important;
	}

  .slots-grid-item:nth-child(19) {
		width: 30.3% !important;
    height: 250px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(32) {
		width: 30.3% !important;
    height: 250px !important;
		float: right !important;
    right: 5% !important;
	}
  .slots-grid-item:nth-child(37) {
		width: 30.3% !important;
    height: 250px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(50) {
		width: 30.3% !important;
    height: 250px !important;
		float: right !important;
    right: 5% !important;
	}
  .slots-grid-item:nth-child(55) {
		width: 30.3% !important;
    height:250px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(68) {
		width: 30.3% !important;
    height: 250px !important;
		float: right !important;
    right: 5% !important;
	}
  .slots-grid-item:nth-child(73) {
		width: 30.3% !important;
    height:250px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(86) {
		width: 30.3% !important;
    height:250px !important;
		float: right !important;
    right: 5% !important;
	}
  .slots-grid-item:nth-child(91) {
		width: 30.3% !important;
    height:250px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(104) {
		width: 30.3% !important;
    height:250px !important;
		float: right !important;
    right: 5% !important;
	}
  .slots-grid-item:nth-child(109) {
		width: 30.3% !important;
    height:250px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(122) {
		width: 30.3% !important;
    height:250px !important;
		float: right !important;
    right: 5% !important;
	}
}
@media screen and (min-width: 1920px) {
	.container-provider .container-games .primero {
    width: 32.3% !important;
		height: 548px !important;
    float: left !important;
    left: 0% !important;
    margin: 4px;
    border-radius: 15px;
  }
  .container-provider .container-games .otros {
    width: 16%;
    margin: 4px;
    height: 270px;
    float: left;
    border-radius: 15px;
  }
  .slots-grid-item:nth-child(14) {
		width: 32.3% !important;
    height: 548px !important;
    float: right!important;
    right: 1.6% !important;
	}

  .slots-grid-item:nth-child(19) {
		width: 32.3% !important;
    height: 548px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(32) {
		width: 32.3% !important;
    height: 548px !important;
		float: right !important;
    right: 1.6% !important;
	}
  .slots-grid-item:nth-child(37) {
		width: 32.3% !important;
    height: 548px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(50) {
		width: 32.3% !important;
    height: 548px !important;
		float: right !important;
    right: 1.6% !important;
	}
  .slots-grid-item:nth-child(55) {
		width: 32.3% !important;
    height: 548px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(68) {
		width: 32.3% !important;
    height: 548px !important;
		float: right !important;
    right: 1.6% !important;
	}
  .slots-grid-item:nth-child(73) {
		width: 32.3% !important;
    height: 548px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(86) {
		width: 32.3% !important;
    height: 548px !important;
		float: right !important;
    right: 1.6% !important;
	}
  .slots-grid-item:nth-child(91) {
		width: 32.3% !important;
    height: 548px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(104) {
		width: 32.3% !important;
    height: 548px !important;
		float: right !important;
    right: 1.6% !important;
	}
  .slots-grid-item:nth-child(109) {
		width: 32.3% !important;
    height: 548px !important;
		float: left !important;
    left: 0% !important;
	}
  .slots-grid-item:nth-child(122) {
		width: 32.3% !important;
    height: 548px !important;
		float: right !important;
    right: 1.6% !important;
	}
}
.container-body::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  display: block;  /* Ocultar scroll */
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.container-body::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 0;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.container-body::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.container-body::-webkit-scrollbar-thumb:active {
  background-color: #6b6b6b;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
.container-body::-webkit-scrollbar-track {
  background: #151515;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.container-body::-webkit-scrollbar-track:hover,
.container-body::-webkit-scrollbar-track:active {
background: #151515;
}

.scrollbar
{
	height: auto;
	overflow-y: scroll;
  background-color: #0f1119;
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	margin: auto;
}

/*
 *  STYLE 4
 */

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #0f1119;
}

#style-4::-webkit-scrollbar
{
	height: 8px;
	background-color: #0f1119;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #eeff02;
}
